*{
    margin : 0;
    padding : 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background-color: #34656D;
}

.header{
    height : 60px;
    background-color: #334443;
    color : #FAF8F1;
    width : 100%;
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size : 28px;
    margin-left : 10px;
}

.nav-links a{
    text-decoration: none;
    color : #FAF8F1;
    font-size : 20px;
    margin-right : 10px;
}

.hero{
    margin-top : 80px;
}

.hero-img img{
    border-radius : 10px;
    box-shadow : 0 2px 8px black;
}

.hero-info, .hero-info h1{
    text-align: center;
    color : #334443;
    font-weight : 600;
}

.hero-info p{
    text-align : center;
    font-size : 18px;
    font-weight : 500;
}

.hero-info button{
    padding : 5px 10px;
    border-radius : 10px;
    background-color: transparent;
    border : 2px solid black;
    text-align : center;
}

.hero-info button:hover{
    background-color: #334443;
    color : #FAF8F1;
}

.features{
    margin-top : 100px;
}

.features h1{
    text-align : center;
    color : #334443;
    font-weight : 700;
}

.features .feature-grid{
    margin-top : 40px;
}

.feature-box h3{
    text-align: center;
    margin-top : 20px;
    font-size : 24px;
    font-weight : 600;
}

.feature-box p{
    font-size : 18px;
    text-align : center;
    font-weight : 500;
    margin-top : 10px;
}

.testimonials{
    margin-top : 100px;
}

.testi-info{
    border-radius : 10px;
}

.testi-info p{
    margin-top : 20px;
    font-weight : 600;
}

.testi-info h4{
    font-weight : 700;
}

footer{
    padding: 10px 10px;
    margin-top : 50px;
    background-color: #334443;
    color : #FAF8F1;
    text-align: center;
}

footer a{
    text-decoration: none;
    color : #FAF8F1;
}

@media(max-width : 900px){

    .hero-img{
        text-align: center;
    }
    .hero-img img{
        height : 200px;
        width : 300px;
    }

    .nav-links{
        display : none;
    }

    .features .feature-box{
        margin-top : 40px;
    }

    .testimonials .testi-info{
        margin-top : 40px;
    }
}

@media (width : 1024px){

    .hero-img{
        text-align: center;
    }
    .hero-img img{
        height : 300px;
        width : 400px;
    }

}

@media (width : 912px){

    .hero-img{
        text-align: end;
    }
    .hero-img img{
        height : 250px;
        width : 350px;
    }

}