*{
    margin : 0;
    padding : 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background-color: #34656D;
}

.header{
    position : fixed;
    top : 0;
    height : 60px;
    background-color: #334443;
    color : #FAF8F1;
    width : 100%;
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size : 28px;
    margin-left : 10px;
}

.nav-links a{
    text-decoration: none;
    color : #FAF8F1;
    font-size : 20px;
    margin-right : 10px;
}
.nav-links button{
    margin-right : 10px;
    padding : 2px 10px;
    font-size : 18px;
    border-radius : 5px;
    background-color: transparent;
    border : 2px solid #FAF8F1;
    color : #FAF8F1; 
}

.nav-links button:hover{
    background-color: #FAF8F1;
    color : #334443;
}
.hero{
    margin-top : 150px;
}

.hero-sec{
    display : flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero-img img{
    border-radius : 10px;
    box-shadow : 0 2px 8px black;
}

.hero-info, .hero-info h1{
    text-align: center;
    color : #334443;
    font-weight : 600;
}

.hero-info p{
    text-align : center;
    font-size : 18px;
    font-weight : 500;
}

.hero-info button{
    padding : 5px 10px;
    border-radius : 10px;
    background-color: transparent;
    border : 2px solid black;
    text-align : center;
}

.hero-info button:hover{
    background-color: #334443;
    color : #FAF8F1;
}

.features{
    padding : 20px 20px;
    margin-top : 100px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.features h1{
    text-align : center;
    color : #334443;
    font-weight : 700;
}

.features .features-grid{
    margin-top : 40px;
}

.feature-box{
    box-shadow : 0 0 10px rgba(0,0,0.5,0.9);
}
.feature-box h3{
    text-align: center;
    margin-top : 20px;
    font-size : 24px;
    font-weight : 600;
}

.feature-box p{
    font-size : 18px;
    text-align : center;
    font-weight : 500;
    margin-top : 10px;
}

.testimonials{
    margin-top : 100px;
}

.testi-card{
   text-align: center;
}

.testi-heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.testi-heading h1{
    color : #334443;
    font-weight : 700;
}

.testi-detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.testi-info{
    border-radius : 10px;
    background-color: whitesmoke;
    width : 70%;
    margin-top : 20px;
    padding : 1px 10px;
    box-shadow : 0 0 10px rgba(0,0,0,0.5);
}

.testi-info p{
    margin-top : 22px;
    font-weight : 600;
}

.testi-info h4{
    font-weight : 700;
}

footer{
    padding: 10px 10px;
    margin-top : 50px;
    background-color: #334443;
    color : #FAF8F1;
    text-align: center;
}

footer a{
    text-decoration: none;
    color : #FAF8F1;
}

@media(max-width : 900px){

    .hero-img img{
        display : none;
    }

    .nav-links{
        display : none;
    }

    .features .feature-box{
        margin-top : 40px;
    }

    .testi-card{
        margin-left : 70px;
    }
}

@media (width : 1024px){

    .hero-img img{
        height : 200px;
        width : 300px;
    }

}

@media (width : 912px){

    .hero-img{
        text-align: end;
    }
    .hero-img img{
        height : 200px;
        width : 300px;
    }

}